In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [2]:
df = pd.read_csv('Online Retail.csv')

In [3]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [5]:
df.apply(lambda x: len(x.unique()))

InvoiceNo      25900
StockCode       4070
Description     4224
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4373
Country           38
dtype: int64

In [6]:
new = df.drop(['InvoiceNo', 'StockCode',  'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'],axis=1)

In [7]:
q = new['Description'].value_counts()

In [8]:
new.head()

                           Description  Quantity
0   WHITE HANGING HEART T-LIGHT HOLDER         6
1                  WHITE METAL LANTERN         6
2       CREAM CUPID HEARTS COAT HANGER         8
3  KNITTED UNION FLAG HOT WATER BOTTLE         6
4       RED WOOLLY HOTTIE WHITE HEART.         6

In [9]:
s = pd.DataFrame(q)
s = s[s>1150]

In [10]:
s = s.dropna()
s

                                    Description
WHITE HANGING HEART T-LIGHT HOLDER       2369.0
REGENCY CAKESTAND 3 TIER                 2200.0
JUMBO BAG RED RETROSPOT                  2159.0
PARTY BUNTING                            1727.0
LUNCH BAG RED RETROSPOT                  1638.0
ASSORTED COLOUR BIRD ORNAMENT            1501.0
SET OF 3 CAKE TINS PANTRY DESIGN         1473.0
PACK OF 72 RETROSPOT CAKE CASES          1385.0
LUNCH BAG  BLACK SKULL.                  1350.0
NATURAL SLATE HEART CHALKBOARD           1280.0
POSTAGE                                  1252.0
JUMBO BAG PINK POLKADOT                  1251.0
HEART OF WICKER SMALL                    1237.0
JAM MAKING SET WITH JARS                 1229.0
JUMBO STORAGE BAG SUKI                   1214.0
PAPER CHAIN KIT 50'S CHRISTMAS           1210.0
JUMBO SHOPPER VINTAGE RED PAISLEY        1202.0
LUNCH BAG CARS BLUE                      1197.0
LUNCH BAG SPACEBOY DESIGN                1192.0
JAM MAKING SET PRINTED                   1182.0
RECIPE BOX PANTRY YELLOW DESIGN          1180.0
SPOTTY BUNTING                           1172.0

In [11]:
qqq = s['Description']

In [12]:
len(qqq)

22

In [21]:
arr = np.array(qqq)

In [22]:
alll = sum(qqq)

In [23]:
alll

31600.0

In [27]:
freq = arr/alll
cov = [ arr/i for i in arr]

In [17]:
for i in qqq:
    freq.append( i/alll)
    temp = []
    for j in qqq:
        temp.append(j/i)
    cov.append(temp)

In [28]:
freq

array([0.07496835, 0.06962025, 0.06832278, 0.0546519 , 0.05183544,
       0.0475    , 0.04661392, 0.04382911, 0.04272152, 0.04050633,
       0.03962025, 0.03958861, 0.03914557, 0.03889241, 0.03841772,
       0.03829114, 0.03803797, 0.03787975, 0.03772152, 0.03740506,
       0.03734177, 0.03708861])

In [1]:
cov

NameError: name 'cov' is not defined