In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('iris.csv')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.apply(lambda x: len(x.unique()))

Id               150
SepalLengthCm     35
SepalWidthCm      23
PetalLengthCm     43
PetalWidthCm      22
Species            3
dtype: int64

In [5]:
def dummyEncode(df):
    column = list(df.select_dtypes(include=['category','object']))
    for x in column:
        dummies = pd.get_dummies(df[x],prefix = x,dummy_na = False)
        df = df.drop(x,1)
        df = pd.concat([df,dummies],axis=1)
    return df

In [6]:
codes = {'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2}
df['Species'] = df['Species'].map(codes)

In [7]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [8]:
Xdata = df.drop(['Species','Id'],axis = 1)
Ydata = df['Species']

In [9]:
from sklearn.model_selection import train_test_split
x,xt,y,yt = train_test_split(Xdata,Ydata,random_state = 41)

In [10]:
labels = np.random.randint(low=0, high=2, size=len(x))
index = np.random.choice(x.shape[0], 3, replace=False)

In [11]:
index

array([33, 59,  6])

In [12]:
centroid = x.iloc[index]
centroid

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
60             5.0           2.0            3.5           1.0
110            6.5           3.2            5.1           2.0
136            6.3           3.4            5.6           2.4

In [15]:
def kMeans(X, K, max_iter = 10):

    labels = np.random.randint(low=0, high=3, size=len(X))
    index = np.random.choice(X.shape[0], 3, replace=False)
    centroids = np.array(Xdata.iloc[[5,62,133]])
    print(labels,'\n',centroids)
    
    for i in range(max_iter):
        distances = np.array([np.linalg.norm(X - c, axis=1) for c in centroids])
        
        new_labels = np.argmin(distances, axis=0)

        if (labels == new_labels).all():
            labels = new_labels
            print('Labels unchanged ! Terminating k-means.')
            break
        else:

            difference = np.mean(labels != new_labels)
            print('%4f%% labels changed' % (difference * 100))
            labels = new_labels
            for c in range(K):
                centroids[c] = np.mean(X[labels == c], axis=0)
        
    return labels

In [16]:
l = kMeans(x,3)

[2 1 0 1 2 1 1 1 2 2 0 0 2 2 0 0 0 1 1 2 2 2 1 0 1 1 2 2 2 1 2 0 0 0 2 1 1
 0 2 2 2 0 0 0 1 2 1 1 1 2 0 0 2 1 2 1 1 2 1 0 1 1 2 0 1 0 0 0 2 0 2 0 0 2
 2 1 1 2 1 1 1 0 2 0 2 1 1 2 2 0 0 0 1 2 1 0 1 0 2 1 1 1 0 2 2 2 1 0 0 1 2
 0]
 [[5.4 3.9 1.7 0.4]
 [6.  2.2 4.  1. ]
 [6.3 2.8 5.1 1.5]]
66.964286% labels changed
6.250000% labels changed
2.678571% labels changed
3.571429% labels changed
3.571429% labels changed
1.785714% labels changed
2.678571% labels changed
Labels unchanged ! Terminating k-means.

In [18]:
sum(y==l)#.all()

100

In [19]:
print('accuracy: ', sum(y==l)/len(x))

accuracy:  0.8928571428571429

In [ ]:
comparison = pd.DataFrame(list(zip(y,l)),columns=['Real','Predicted'])