In [2]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [11]:
df = pd.read_csv('OnlineRetail.csv',encoding = 'unicode_escape')

In [12]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  240007.000000  240007.000000  172782.000000
mean        9.277646       5.124265   15274.819941
std       223.061608     119.992279    1725.093177
min    -74215.000000       0.000000   12346.000000
25%         1.000000       1.250000   13842.000000
50%         3.000000       2.100000   15132.000000
75%        10.000000       4.210000   16814.000000
max     74215.000000   38970.000000   18287.000000

In [13]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [14]:
df.apply(lambda x: len(x.unique()))

InvoiceNo      12468
StockCode       3645
Description     3618
Quantity         477
InvoiceDate    11240
UnitPrice       1053
CustomerID      2975
Country           38
dtype: int64

In [15]:
new = df.drop(['InvoiceNo', 'StockCode',  'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country'],axis=1)

In [16]:
q = new['Description'].value_counts()
q

WHITE HANGING HEART T-LIGHT HOLDER     1319
REGENCY CAKESTAND 3 TIER               1251
JUMBO BAG RED RETROSPOT                1023
PARTY BUNTING                           985
LUNCH BAG RED RETROSPOT                 807
PACK OF 72 RETROSPOT CAKE CASES         754
ASSORTED COLOUR BIRD ORNAMENT           710
SET OF 3 CAKE TINS PANTRY DESIGN        703
JAM MAKING SET WITH JARS                697
NATURAL SLATE HEART CHALKBOARD          685
HEART OF WICKER SMALL                   651
JUMBO BAG PINK POLKADOT                 619
GREEN REGENCY TEACUP AND SAUCER         618
ROSES REGENCY TEACUP AND SAUCER         617
JUMBO STORAGE BAG SUKI                  616
JAM MAKING SET PRINTED                  612
VICTORIAN GLASS HANGING T-LIGHT         607
SMALL POPCORN HOLDER                    607
JUMBO SHOPPER VINTAGE RED PAISLEY       604
RECIPE BOX PANTRY YELLOW DESIGN         600
SET OF 6 SPICE TINS PANTRY DESIGN       593
WOODEN PICTURE FRAME WHITE FINISH       592
SET/20 RED RETROSPOT PAPER NAPKINS      586
LUNCH BAG  BLACK SKULL.                 580
POSTAGE                                 558
LUNCH BAG CARS BLUE                     535
LUNCH BAG PINK POLKADOT                 527
SET OF 4 PANTRY JELLY MOULDS            523
PLEASE ONE PERSON METAL SIGN            521
LUNCH BAG SPACEBOY DESIGN               514
                                       ...
GREEN LEAVES AND BEADS PHONE CHARM        1
BLUE FLYING SINGING CANARY                1
A4 WALL TIDY RED FLOWERS                  1
throw away                                1
OPULENT VELVET SET/3 CANDLES              1
HAYNES CAMPER SHOULDER BAG                1
CHRISTMAS TREE HANGING SILVER             1
DAMAGED                                   1
BIRTHDAY BANNER TAPE                      1
INCENSE BAZAAR PEACH                      1
WRAP VINTAGE LEAF DESIGN                  1
PURPLE CHUNKY GLASS+BEAD NECKLACE         1
BIG POLKADOT MUG                          1
BAROQUE BUTTERFLY EARRINGS MONTANA        1
CLASSICAL ROSE TABLE LAMP                 1
BLUE NEW BAROQUE FLOCK CANDLESTICK        1
mouldy, thrown away.                      1
Dotcom sold in 6's                        1
ORANGE/FUSCHIA STONES NECKLACE            1
GIRLY PINK TOOL SET                       1
WIRE FLOWER T-LIGHT HOLDER                1
PINK FEATHER CHRISTMAS DECORATION         1
RETRO TIN ASHTRAY,REVOLUTIONARY           1
FAN BLACK FRAME                           1
BLUE DELPHINIUM ARTIFICIAL FLOWER         1
label mix up                              1
reverse previous adjustment               1
BAKING MOULD CUPCAKE CHOCOLATE            1
BLUE DISCO HANDBAG                        1
?sold as sets?                            1
Name: Description, Length: 3617, dtype: int64

In [10]:
new.head()

                           Description  Quantity
0   WHITE HANGING HEART T-LIGHT HOLDER         6
1                  WHITE METAL LANTERN         6
2       CREAM CUPID HEARTS COAT HANGER         8
3  KNITTED UNION FLAG HOT WATER BOTTLE         6
4       RED WOOLLY HOTTIE WHITE HEART.         6

In [9]:
s = pd.DataFrame(q)
s = s[s>1150]

In [10]:
s = s.dropna()
s

                                    Description
WHITE HANGING HEART T-LIGHT HOLDER       2369.0
REGENCY CAKESTAND 3 TIER                 2200.0
JUMBO BAG RED RETROSPOT                  2159.0
PARTY BUNTING                            1727.0
LUNCH BAG RED RETROSPOT                  1638.0
ASSORTED COLOUR BIRD ORNAMENT            1501.0
SET OF 3 CAKE TINS PANTRY DESIGN         1473.0
PACK OF 72 RETROSPOT CAKE CASES          1385.0
LUNCH BAG  BLACK SKULL.                  1350.0
NATURAL SLATE HEART CHALKBOARD           1280.0
POSTAGE                                  1252.0
JUMBO BAG PINK POLKADOT                  1251.0
HEART OF WICKER SMALL                    1237.0
JAM MAKING SET WITH JARS                 1229.0
JUMBO STORAGE BAG SUKI                   1214.0
PAPER CHAIN KIT 50'S CHRISTMAS           1210.0
JUMBO SHOPPER VINTAGE RED PAISLEY        1202.0
LUNCH BAG CARS BLUE                      1197.0
LUNCH BAG SPACEBOY DESIGN                1192.0
JAM MAKING SET PRINTED                   1182.0
RECIPE BOX PANTRY YELLOW DESIGN          1180.0
SPOTTY BUNTING                           1172.0

In [11]:
qqq = s['Description']

In [12]:
len(qqq)

22

In [21]:
arr = np.array(qqq)

In [22]:
alll = sum(qqq)

In [23]:
alll

31600.0

In [27]:
freq = arr/alll
cov = [ arr/i for i in arr]

In [17]:
for i in qqq:
    freq.append( i/alll)
    temp = []
    for j in qqq:
        temp.append(j/i)
    cov.append(temp)

In [28]:
freq

array([0.07496835, 0.06962025, 0.06832278, 0.0546519 , 0.05183544,
       0.0475    , 0.04661392, 0.04382911, 0.04272152, 0.04050633,
       0.03962025, 0.03958861, 0.03914557, 0.03889241, 0.03841772,
       0.03829114, 0.03803797, 0.03787975, 0.03772152, 0.03740506,
       0.03734177, 0.03708861])

In [1]:
cov

NameError: name 'cov' is not defined